// .modal-button {
//     border: none;
//     min-width: 200px;
//     padding: 10px 32px;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.87;
//     letter-spacing: 0.06em;
//     background-color: var(--accent-color);
//     cursor: pointer;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: var(--radius);
//     color: var(--color-text-light-fon);
//     transition: background-color 250ms var(--timing);    

//     &:hover,
//     &:focus {
//         background-color:var(--color-pointed-btn);
//     }
// }